* {
    font-family: 'Gotu', sans-serif;
}

body {
    text-align: center;
}

h1 {
    font-size: 3em;
}

ul {
    list-style-type: none;
}

li {
    margin-top: 2em;
}

/* responsive web design! */
img {
    width: 100%;
    height: auto;
    max-width: 35em;
}

.container {
    margin-right: auto;
    margin-left: auto;
}